.top-bg {
  background-image: url("./assets/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg {
  /* background-image: url("./assets/header-shapes\ mobile.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 15%;
}

.rounded-bottom-start {
  border-bottom-left-radius: 10%;
}

.rounded-top {
  border-top-right-radius: 50px;
}

.cading {
  margin-top: 30%;
}

.bg-col {
  background-color: #ebebff;
}

.mr {
  margin-left: 200% !important;
  transform: rotate(90deg);
}

.mrr {
  margin-left: 195% !important;
}

.mrrr {
  margin-left: 230% !important;
}

.img-red {
  width: 10px;
  height: 15px;
}
